html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


$text-color: rgb(160, 158, 158);

.main-container {
    position: absolute;
    top: 140px;
    left: 350px;
    font-family:Arial, Helvetica, sans-serif;
    width: 650px;
    height: 350px;
    background-color: #FFFFFF;
    border: 1px dotted rgb(189, 186, 186);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    &__top {
        width: 100%;
        height: 55%;
        display: flex;
        &__left {
            width: 57%;
            height: 100%;
            &__top {
                width: 100%;
                height: 40%;
                padding: 23px 0px 0px 23px;
                box-sizing: border-box;
                &--status {
                    font-size: 15px;
                    color: $text-color;
                    padding: 1px 0px;                    
                }
                &--city {
                    font-size: 25px;
                    color: $text-color; 
                    padding: 1px 0px; 
                }
            }
            &__bottom {
                width: 100%;
                height: 60%;
                display: flex;
                &__img {
                    width: 30%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & img {
                        width: 70%;
                        height: 70%;
                        object-fit: contain;
                    }
                }
                &__temp {
                    width: 70%;
                    height: 100%;
                    display: flex;
                    margin-top: 20px;
                    box-sizing: border-box;
                    &--arg {
                        font-size: 70px;                      
                    }
                    &--units {
                        padding-top: 5px;
                        font-size: 18px;
                        a {
                            text-decoration: none;
                        }                        
                    }
                }
            }
        }
        &__right {
            width: 43%;
            height: 100%;           
            &__detail {
                width: 100%;
                height: 50%;
                padding-top: 20px;
                & p {
                    padding: 3px;
                    font-size: 16px;
                    color: $text-color;
                }
            }
            &__button {              
                width: 100%;
                height: 50%;
                display: flex;
                & button {
                    font-size: 11px;
                    font-weight: bold;
                    text-decoration: none;
                    border: 0.5px solid rgb(206, 203, 203);
                    transition: 1s;
                    &:hover  {
                        background-color: rgb(212, 211, 211);
                    }
                }
                &--temp {
                    width: 85px;
                    height: 30px;
                    text-align: center;
                    background-color: #F2F2F2;
                }
                &--prec {
                    width: 85px;
                    height: 30px;
                    background-color: #F2F2F2;
                }
                &--wind {
                    width: 75px;
                    height: 30px;
                    background-color: #F2F2F2;
                }               
            }
        }
    }
    &__bottom {
        width: 100%;
        height: 45%;
        display: flex;
        align-items: center;
        justify-content: center; 
        &--day{
            padding-top: 10px;
            width: 12%;
            height: 60%;
            text-align: center;
            transition: 1s;
            border: 1px solid white;
            box-sizing: border-box;
            &:hover  {
                border: 1px dotted rgb(189, 186, 186);
                background-color: #F2F2F2;
                box-sizing: border-box;
            }
        }
        p {
            color: $text-color;
        }
        span {
            color: rgb(68, 67, 67);
        }
     }
}

@media only screen and (max-width : 700px) {

    .main-container{
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        border: none;
        &__top {          
            height: 50%;
            flex-direction: column;
            padding: 0px 10px 0px 20px;
            box-sizing: border-box;
            &__left {
                width: 100%;
                height: 50%;
                border-bottom: 1px solid black;
                display: flex;
                flex-direction: column;
                &__top {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                   
                    text-align: end;
                    height: 50%;
                    padding: 10px 0px 30px 0px;
                    &--status {
                        font-size: 16px;
                        color: $text-color;
                        padding: 1px;                      
                    }
                    &--city {
                        font-size: 21px;
                        color: $text-color; 
                        padding: 1px;
                        padding-right: 30px;
                    }                  
                }
                &__bottom {
                 
                    height: 50%;
                    padding-left: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;  
                    &__img {
                        width: auto;
                        padding-bottom: 10px;
                        & img {
                            width: 100%;
                            height: 100%;                          
                        }
                    }
                    &__temp {
                        width: auto;
                        height: auto;
                        margin-top: 0px;                       
                        &--arg {
                            font-size: 50px;                          
                        }
                        &--units {
                            font-size: 14px;
                            padding: 4px;     
                        }  
                    }
                }
            }
            &__right {
                width: 100%;
                height: 50%;
                border-bottom: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                &__detail {
                    text-align: center;
                    height: 60%;
                    & p {
                        padding: 3px;
                        font-size: 16px;
                        color: $text-color;
                    }
                }
                &__button {
                    height: 45%;
                    align-items: center;
                    justify-content: center;
                    & button {
                        height: 30px;
                    }
                }
            }
        }
        &__bottom {
            height: 50%;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 0px 10px 60px 20px;         
            &--day{
                padding-top: 5px;
                width: 23%;
                height: 30%;
            }
        }
    }
    
}

.painted{
    border: 1px dotted rgb(189, 186, 186);
    background-color: #F2F2F2;
    box-sizing: border-box;
    border: 1px solid blue;
}