.widgetapp{
    border: 1px solid #e1e3e7;
    border-radius: 10px;
    width: 600px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 25px 25px 20px;
}
    
app-weather-detail{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 18px;
    color: #9C9290;
}

app-weather-week{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: #CECECE;
    text-align: center;
}

@media  only screen and (max-width: 700px){
    .widgetapp{
        height: auto;
        text-align: center;
        border: none;
    }
} 