@import 'reset';
$movil: 375px;
$desktop: 600px;
.weatherBoard{
  box-sizing: border-box;
  font-family: sans-serif;
  @media only screen and(max-width:$movil){
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 @media only screen and(min-width:$desktop){
    margin: 100px;
    width: 651px;
    height: 370px;
    border-radius: 8px;
    border: rgb(189, 184, 184) 1px solid;
    box-sizing: border-box;
  }
}