// Reset current style
@import './reset.scss';

// Variables 
$base-color-gray: rgb(211, 208, 208);
$base-color-strongGray: rgb(141, 141, 141);
$standard-black: #4a4a4a; 

// Mixin
@mixin width-height ($width:100%, $height:100%) {
  width: $width;
  height: $height;
}

// Style
* {
  box-sizing: border-box;
}

// Test
.widget {
  background-color: blue;
}

