<div *ngIf="mySelectedDay !== undefined" class="timeWidgetElements--main">
    <div class="timeWidgetElements--main--upper">
        <div>
            <h2>Madrid</h2>
            <p>{{mySelectedDay.day}} 08:00</p>
            <p>{{mySelectedDay.weather}}</p>
        </div>
    </div>
    <div class="timeWidgetElements--main--lower">
        <img src="../assets/weather-images/partly_cloudy.png" class="timeIcon">
        <div class="timeWidgetElements--main--lower--temperature">
            <p class="text--degrees">{{mySelectedDay.current_temp}}</p>
            <p (click) = "selectDegrees(0)" class="pointerHand" [class.highlighted]="myDegrees == 0">ºC&nbsp;</p><p>|</p><p (click) = "selectDegrees(1)" class="pointerHand" [class.highlighted]="myDegrees == 1">&nbsp;ºF</p>
        </div>                    
    </div>
</div>
<div *ngIf="mySelectedDay !== undefined" class="timeWidgetElements--options">
    <div class="timeWidgetElements--options--info">
        <div>
            <p class="text__spaced">Precipitation: {{mySelectedDay.precip}}<br>Humidity: {{mySelectedDay.humidity}}<br>Wind: {{mySelectedDay.wind}}</p>
        </div>
    </div>
    <div class="timeWidgetElements--options--buttons">
        <a href="#" class="button__left button--pressed">Temperature</a>
        <a href="#" class="button">Precipitation</a>
        <a href="#" class="button__right">Wind</a>
    </div>
</div>