<div class="timeWidgetElements--main" *ngIf = 'selectDay !=undefined'>
    <div class="timeWidgetElements--main--upper">
        <div>
            <h2 class="timeWidgetElements--main--upper--city">Madrid</h2>
            <p>{{selectDay.day}}</p>
            <p>{{selectDay.weather}}</p>
        </div>
    </div>
    <div class="timeWidgetElements--main--lower">
        <img src="{{selectDay.imgRoute}}" class="timeIcon">
        <div class="timeWidgetElements--main--lower--temperature">
            <p class="text--degrees">{{selectDay.max_temp}}</p>
            <p>ºC |</p><a href="http://www.google.com" target="_blank">&nbsp;ºF</a>
        </div>                    
    </div>
</div>            
<div class="divider"></div>
<div class="timeWidgetElements--options" *ngIf = 'selectDay!=undefined'>
    <div class="timeWidgetElements--options--info">
        <div>
            <p class="text__spaced">Precipitation: {{selectDay.precip}}<br>Humidity: {{selectDay.humidity}}<br>Wind: {{selectDay.wind}}</p>
        </div>
    </div>
    <div class="timeWidgetElements--options--buttons">
        <a href="#" class="button__left button--pressed">Temperature</a>
        <a href="#" class="button">Precipitation</a>
        <a href="#" class="button__right">Wind</a>
    </div>
</div>
